.footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-top: solid black 0.5px;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  